.bg-colour {
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 100px;
}

/* shared style */
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-primary {
    color: rgba(39, 39, 39, 0.6);
    font-weight: 200;
}

.display-flex {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

header {
    max-width: 1440px;
    margin: 0 auto;
}

.box-style {
    border-radius: 50% 50% 0 0;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header style */
.flower-header h1 {
    font-size: 5rem;
    margin-bottom: 32px;
}

.btn-primary {
    background-color: rgba(229, 84, 115, 1);
    color: white;
    border: none;
    padding: 20px 43px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 32px;
}

.image {
    max-width: 100%;
}

.flower-header {
    max-width: 700px;
}

/* flower-box style */
.icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(91, 22, 22, 0.05);
    max-width: 1440px;
    margin: 128px auto;
}

.icon-box {
    padding: 86px 150px;
    text-align: center;
}

/* responsive style */
.sell {
    background-color: rgba(229, 84, 115, 0.05);
}

.sell-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 186px;
    padding: 100px 250px;
    margin: 0 auto;
}

.sell-titel {
    text-align: center;
}

.sell-titel h3 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

h3 span {
    color: #E55473;
}

/* flower image section */
.flower-titel-contain {
    text-align: center;
    max-width: 1440px;
    margin: 128px auto;
}

.insta-titel {
    margin-bottom: 20px;
}

.insta-titel h1 {
    margin-bottom: 20px;
}

.flower-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.form-container {
    background-image: url(image/Rectangle\ 9.png);
    background-position: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.form-items {
    padding: 120px 200px;
}

.form-container input[type="email"] {
    width: 700px;
    height: 64px;
    border: none;
}

footer {
    background-color: black;
}

.footer-end {
    margin-top: 200px;
    text-align: center;
    padding: 128px 400px;
}

.footer-end h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.footer-end span {
    color: #E55473;
}

.footer-end p {
    color: white;
}

.copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.7rem;
}

/* responsive style */
@media screen and (min-width:576px) and (max-width:992px) {

    .display-flex,
    .icon-container,
    .sell-features {
        flex-direction: column;
    }

    .icon-container {
        grid-template-columns: 1fr;

    }

    .sell-features {
        padding: 40px;
    }

    .flower-header {
        justify-items: center;
        padding: 30px;
    }

    .flower-images {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .form-items {
        padding: 40px 20px;
    }

    .form-container input[type="email"] {
        width: 100%;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 100%;
    } */
}


@media screen and (max-width: 576px) {

    .display-flex,
    .sell-features {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .icon-container,
    .flower-images {
        grid-template-columns: 1fr;
    }

    .flower-header h1 {
        font-size: 1.8rem;
    }

    .image img {
        max-width: 100%;
        padding: 0 20px;
    }

    .icon-box {
        padding: 20px;
    }

    .sell-features {
        padding: 20px;
        gap: 40px;
    }

    .sell-img img {
        width: 100%;
        height: auto;
    }

    .sell-titel h3 {
        font-size: 1.8rem;
    }

    .form-items {
        padding: 40px 20px;
    }

    .form-container input[type="email"] {
        width: 100%;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 100%;
    }

    .footer-end {
        margin-top: 20px;
        padding: 20px;
        text-align: center;
    }
}