*{margin: 0;
padding: 0;}

.bg-colour{
   background-color:rgba(229, 84, 115, 0.1);
}

/* shared styles */
.btn-primary{
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 1.2rem;
    font-weight:600 ;
    border: none;
}
.text-primary{
    color: (39, 39, 39, 0.6);
}
 main{
    max-width: 1440px;
    margin: 0 auto;
 }
.display-flex{
    display: flex;
}


header{
    max-width: 1440px;
    margin: 0 auto;
}
.hero-section{
    justify-content: space-between;
    align-items: center;
}
.hero-titel{
    font-size:3rem;
    font-weight: 700;
}
.hero-body{
    padding-right: 100px;
}
.hero-body h1, p, button{
    margin-top: 32px;
}
.hero-tite-des {
    padding-right: 40px;
    line-height: 20px;
}

.featured-flowers{
    max-width: 1440px;
     margin: 100px auto;
    padding: 0 20px;
}
.featured-flower-header{
    text-align: center;
}
.featured-bg1{
    background-color:rgba(167, 33, 98, 0.15) ;
     border-radius: 50% 50% 0 0 ;
}
.featured-bg2{
    background-color:rgba(5, 151, 160, 0.15) ;
     border-radius: 50% 50% 0 0 ;
}
.featured-bg3{
    background-color:rgba(71, 125, 17, 0.15) ;
     border-radius: 50% 50% 0 0 ;
}
.img-container{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}
.flower-box{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}
.flower-box img{
    max-width: 100%;
    padding: 20px;
}
.featured-flower-header h4{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.featured-flower-header p{ 
    padding:0 400px;
}



/* responsive style for tablets */
@media screen and (min-width:576px) and (max-width:992px)
{
     .display-flex{
        flex-direction: column;
    }
     .hero-image img{
        max-width: 100%;
        padding: 10px;
    }
    .flower-box img {
        max-width: 100%;
        padding: 5px;
    }

    .img-container {
        grid-template-columns: 1fr;
    }
    .featured-flower-header p{ 
    padding:0 5px;
}
} 


/* responsive style for small devices */
@media screen and (max-width:576px){
    .display-flex{
        flex-direction: column;
    }
    .hero-image img{
        max-width: 100%;
        padding: 10px;
    }
   .flower-box img {
        max-width: 150px;
        padding: 5px;
    }

    .img-container {
        grid-template-columns: 1fr;
    }
     .featured-flower-header p{ 
    padding:0 5px;
}